@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(variaveis.$cor03, .5);
    z-index: 1;

    @media (max-width: 768px) {
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
    }
    
    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        h1 {
            display: flex;
            align-items: center;
        }

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 170px;
        width: 100%;
        margin: 5px;
        
        @media (max-width: 768px) {
            max-width: 64px;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
        }
    }

    .button {
        height: 50px;

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}